html,
body {
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.custom-control-input:checked~.custom-control-label.green::before {
  background-color: #37A398;
}

.bg-mytitle{
  color: #37A398;
  margin-top: 35px;
  font-size: 60px;
  -webkit-text-stroke: 1px white;
}

.bg-mycolor{
  background: #85B58A
}

.text-mycolor{
  color: #85B58A;
}

.btn-mycolor{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 1px solid;
  padding: .375rem .75rem;
  vertical-align: middle;
  border-radius: .25rem;
  background: #09766B;
  border-color: #229D91;
  color: white;
  text-decoration: none;
}

.btn-mycolor:focus{
  outline: none;
  box-shadow: 0 0 3pt 2pt #86BEB8;
}

.btn-mycolor:hover {
  color: white;
  border-color: #06897C;
}

.btn-mycolor:active {
  color: white;
  border-color: #06897C;
}

.nav-mycolor{
  color: white;
  background-color: #039BE5;
  text-decoration: none;
  border: none;
}

.preloader-lg {
  width: 60px;
  height: 60px;
  border: 10px solid #eee;
  border-top: 10px solid #37A398;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.preloader {
  width: 40px;
  height: 40px;
  border: 10px solid #eee;
  border-top: 10px solid #37A398;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.turnI{
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#containerTable {
  overflow: auto;
  max-height: 60vh;
  scroll-margin-top: 10px;
}

#containerTable thead{
  position: sticky;
  top: 0;
  z-index: 1;

}

#containerTable::-webkit-scrollbar {
  -webkit-appearance: none;
}

#containerTable::-webkit-scrollbar:vertical {
  width:10px;
}

#containerTable::-webkit-scrollbar-button:increment,
#containerTable::-webkit-scrollbar-button {
  display: none;
}

#containerTable::-webkit-scrollbar:horizontal {
  height: 10px;
}

#containerTable::-webkit-scrollbar-thumb {
  background-color: #85B58A;
  border: 2px solid #4D7852;
}

#containerTable::-webkit-scrollbar-track {
  margin-top: 1px;
}

.tableCustomScroll {
  overflow: auto;
  max-height: 60vh;
  scroll-margin-top: 10px;
}

.tableCustomScroll thead{
  position: sticky;
  top: 0;
  z-index: 1;

}

.tableCustomScroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.tableCustomScroll::-webkit-scrollbar:vertical {
  width:10px;
}

.tableCustomScroll::-webkit-scrollbar-button:increment,
.tableCustomScroll::-webkit-scrollbar-button {
  display: none;
}

.tableCustomScroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.tableCustomScroll::-webkit-scrollbar-thumb {
  background-color: #85B58A;
  border: 2px solid #4D7852;
}

.tableCustomScroll::-webkit-scrollbar-track {
  margin-top: 1px;
}

#tbodyVacunas tr:hover,
#tbodyEnfermedades tr:hover,
#tbodyAnalisis tr:hover,
#tbodyHistoriaClinica tr:hover,
#tbodyMascotas tr:hover,
#tbodyMascotasSocio tr:hover,
#tbodySocios tr:hover,
#tbodyVencimientosVacuna tr:hover {
  background-color: #CBEDCF;
}

.btn-transparent{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.scrollSelect::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollSelect::-webkit-scrollbar:vertical {
  width:10px;
}

.scrollSelect::-webkit-scrollbar-button:increment,
.scrollSelect::-webkit-scrollbar-button {
  display: none;
}

.scrollSelect::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scrollSelect::-webkit-scrollbar-thumb {
  background-color: #37A398;
  border-radius: 20px;
  border: 2px solid #37A398;
}

.scrollSelect::-webkit-scrollbar-track {
  border-radius: 10px;
}

#ulContainer {
  overflow: auto;
  scroll-margin-top: 10px;
}

#ulContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

#ulContainer::-webkit-scrollbar:vertical {
  width:10px;
}

#ulContainer::-webkit-scrollbar-button:increment,
#ulContainer::-webkit-scrollbar-button {
  display: none;
}

#ulContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

#ulContainer::-webkit-scrollbar-thumb {
  background-color: #37A398;
  border-radius: 20px;
  border: 2px solid #37A398;
}

#ulContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}


@media (min-width: 1023px) {
  html, body{
    font-size:1rem;
  }
}

@media (max-width: 990px){
  html, body{
    font-size:1.7rem;
  }

  .notShowMobile{
    display: none;
  }

  .w-75{
    width: 100%!important;
  }

  .w-50{
    width: 100%!important;
  }

  .text-center{
    text-align: left!important;
  }

  .form-control{
    font-size: 1.7rem;
  }

  .btn{
    font-size: 1.7rem;
  }

  h5{
    font-size: 2rem;
  }

  h6{
    font-size: 1.8rem;
  }

  .card-header{
    padding: 1vh 1vw;
    margin: 0;
  }

  .card-body{
    padding: 1vh 0;
    margin: 0;
  }

  table{
    margin: 0;
    padding: 0;
  }

  table td {
    margin: 0;
    padding: 0;
  }

  .row{
    display: block;
  }

  .modal-dialog{
    max-width: 100vw;
  }
}