.rowSocio {
  background-color: var(--socio);
}

.rowWarning {
  background-color: var(--socio-warning);
}

.rowExsocio {
  background-color: var(--exsocio);
}

.rowExsocioWarning {
  color:  white;
  background-color: var(--exsocio-warning);
}

.rowExsocioWarning a {
  color:  white;
}

.rowNosocio {
  background-color: var(--nosocio);
}

.rowDeadPet {
  color: var(--mascota-muerta)!important;
  background-color: white!important;
}

option[disabled]{
  background-color: var(--mascota-muerta)!important;

}

.rowSocioBuenPagador {
  background: linear-gradient(to right, var(--socio) 70%, #a8e6a1 100%);
}
.rowNosocioBuenPagador {
  background: linear-gradient(to right, var(--nosocio) 70%, #a8e6a1 100%);
}

.rowWarningBuenPagador {
  background: linear-gradient(to right, var(--socio-warning) 70%, #a8e6a1 100%);
}

.rowExsocioWarningBuenPagador {
  background: linear-gradient(to right, var(--exsocio-warning) 70%, #a8e6a1 100%);
}

.rowExsocioBuenPagador {
  background: linear-gradient(to right, var(--exsocio) 70%, #a8e6a1 100%);
}


.tareaCompletada input{
  background-color:#17a2b840;
}