.rowSocio {
  background-color: var(--socio);
}

.rowWarning {
  background-color: var(--socio-warning);
}

.rowExsocio {
  background-color: var(--exsocio);
}

.rowExsocioWarning {
  color:  white;
  background-color: var(--exsocio-warning);
}

.rowExsocioWarning a {
  color:  white;
}

.rowNosocio {
  background-color: var(--nosocio);
}

.rowDeadPet {
  color: var(--mascota-muerta)!important;
  background-color: white!important;
}

option[disabled]{
  background-color: var(--mascota-muerta)!important;

}




.tareaCompletada input{
  background-color:#17a2b840;
}