.rowWarning {
  background-color: var(--socio-warning);
}

.rowExsocio {
  background-color: var(--exsocio);
}

.rowExsocioWarning {
  background-color: var(--exsocio-warning);
}

.rowNosocio {
  background-color: var(--nosocio);
}