<footer id="sticky-footer" class="text-white-50 bg-mycolor d-flex justify-content-center">
		<small class="text-white m-3"><a class="text-white" href="https://byg.uy">www.byg.uy</a> &copy; 2021</small>
</footer>
