{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<input type="text" id="idMascotaSeleccionada" value="{{ mascota.idMascota }}" style="display: none;">
	<div class="card">
		<h5 class="card-header" style="background: #79BCC5">Historia clínica de &nbsp;{{ mascota.nombre }}</h5>
		<div class="card-body">
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th class="text-center" scope="col">Fecha</th>
						<th class="text-center" scope="col">Motivo consulta</th>
						<th class="text-center" scope="col">Ver</th>
					</tr>
				</thead>
				<tbody id="tbodyHistoriaClinica"></tbody>
			</table>
			<div id="noHayResultadosHistoriaClinicaMensaje" style="display: none" class="alert alert-info text-center" role="alert">
				<h3>No hay resultado</h3>
				No se encontraron resultados para esta busqueda.
			</div>
			<div class="d-flex justify-content-between">
				<button id="irAtrasPaginaHistoriaClinica" class="btn btn-sm btn-info" onclick="paginaAnteriorHistoriaClinica()">Atras</button>
				<button id="irAdelantePaginaHistoriaClinica" class="btn btn-sm btn-info" onclick="paginaPosteriorHistoriaClinica()">Adelante</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalHistoriaClinica" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-info" >
				<h5 class="modal-title" id="titleConsulta"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6 class="card-subtitle mb-2 text-muted">Fecha consulta</h6>
				<p id="fechaConsulta"></p>
				<h6 class="card-subtitle mb-2 text-muted">Motivo consulta</h6>
				<p id="motivoConsulta"></p>
				<h6 class="card-subtitle mb-2 text-muted">Observaciones</h6>
				<p id="observacionesConsulta"></p>
				<h6 class="card-subtitle mb-2 text-muted">Tratamiento</h6>
				<p id="diagnosticoConsulta"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/verHistoriaClinica.js?{{version}}"></script>
<script type="text/javascript">
	var idMascota = document.getElementById('idMascotaSeleccionada').value;
	cargarHistoriaClinica(idMascota);
</script>
{% endblock %}
{% endblock %}