{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}

<center>
	<h1 style="font-weight: bold; font-size: 30px; margin-top: 30px;">pagina principal.</h1>
	<img src="{{path_for('Inicio')}}img/logoEjemplo.png" class="rounded-circle" alt="...">
</center>

{% endblock %}