{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}

{% if administrador %}
<div class="col-md-6">
	{% if hayVencimientos != null %}
	<div class="col-md-6">
		<div class="input-group mb-3">
			<a  id="hayVencimientosHoy" class="btn btn-warning" href="{{path_for('Inicio')}}vencimientos" ></a>
		</div>
	</div>
	{% endif %}
	{% if hayVencimientoSocio == 1 %}
	<div class="col-md-6">
		<div class="input-group mb-3">
			<a id="hayCuotasVencidas" class="btn btn-warning" href="{{path_for('Inicio')}}cuotasVencidas"></a>
		</div>
	</div>
	{% endif %}
</div>
{% endif %}
<div class="d-flex justify-content-center">
	<img style="width: 400px; height: 400px; border-radius: 50%;margin-top: 1%" src="{{path_for('Inicio')}}img/inicio.png">
</div>
{%block script%}
<script>
	let date = new Date()

	let day = date.getDate()
	let month = date.getMonth() + 1
	let year = date.getFullYear()

	if(month < 10){
		month = "0" + month ;
	}

	if(day < 10){
		day = "0" + day;
	}
	var cuotas = document.getElementById('hayCuotasVencidas');
	var vacunas = document.getElementById('hayVencimientosHoy');

	if(vacunas)
		vacunas.innerHTML = "Vacunas vencidas hasta el " + day + "/" + month + "/" + year;
	if(cuotas)
		cuotas.innerHTML = "Cuotas vencidas hasta el " + day + "/" + month + "/" + year;
</script>
{% endblock %}
{% endblock %}