{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center">
	<div></div>
	{% if administrador %}
	{% if hayVencimientos != null%}
	<a class="btn btn-warning" href="{{path_for('Inicio')}}vencimientos">Vencimientos del día de hoy</a>
	{% endif %}
	{% endif %}
</div>

<div class="d-flex justify-content-center">
	<img style="width: 500px; height: 500px; border-radius: 50%" src="{{path_for('Inicio')}}img/inicio.png">
</div>

{%block script%}
<script>
	let date = new Date()

	let day = date.getDate()
	let month = date.getMonth() + 1
	let year = date.getFullYear()

	if(month < 10){
		month = "0" + month ;
	}

	if(day < 10){
		day = "0" + day;
	}
	if(document.getElementById('hayVencimietnosHoy'))
		document.getElementById('hayVencimietnosHoy').innerHTML = "Vencimietos del " + day + "/" + month + "/" + year;
</script>
{% endblock %}
{% endblock %}