{% extends "base.twig" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <img src="{{path_for('Inicio')}}img/logoEjemplo.png">
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Usuario</span>
                        </div>
                        <input id="inpUsuario" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Contraseña</span>
                        </div>
                        <input id="inpPass" name="contrasena" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required autofocus>
                    </div>

                    <div class="row">
                        <div class="col-sm  text-center">
                            <button onclick="iniciarSesion()" class="btn btn-success">iniciar sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/iniciarSesion.js"></script>
{% endblock %}
{% endblock %}