<div class="modal fade" id="modalHistoriaClinica" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-historia-clinica modal-dialog-centered" style="width: 70%;" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title" id="titleHistoriaClinica"></span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col">
						<input type="date" class="form-control text-center shadow-sm" id="inputFechaHistoria">
					</div>
					<div class="form-group col">
						<input type="time" class="form-control text-center shadow-sm" id="inputHoraHistoria">
					</div>
					<div class="form-group col">
						<table class="table-hover table-bordered" style="width: 100%;">
							<thead>
								<tr>
									<td scope="col" hidden disabled>Peso (Kg)</td>
									<td scope="col" title="Temperatura">Temp.</td>
									<td scope="col" title="">FC.</td>
									<td scope="col" title="">FR.</td>
									<td scope="col" title="Tiempo de llenado capilar">TLLC. (seg.)</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td hidden disabled><input id="inputPesoHistoria" type="number" class="form-control form-control-sm shadow-sm" autofocus="true"></td>
				  					<td><input id="inputTemperaturaHistoria" type="number" class="form-control form-control-sm shadow-sm"></td>
				  					<td><input id="inputFrecuenciaCardiacaHistoria" type="number" class="form-control form-control-sm shadow-sm"></td>
				  					<td><input id="inputFRHistoria" type="number" class="form-control form-control-sm shadow-sm"></td>
				  					<td><input id="inputTiempoLlenadoCapilarHistoria" type="number" class="form-control form-control-sm shadow-sm"></td>
				  				</tr>

				  			</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<textarea id="inputMotivoConsultaHistoria" class="form-control shadow-sm rounded-0" rows="1" placeholder="Motivo consulta"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="">Observaciones</label>
							<textarea id="inputObservacionesHistoria" class="form-control shadow-sm rounded-0" rows="15"></textarea>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="">Tratamiento</label>
							<textarea id="inputDiagnosticoHistoria" class="form-control shadow-sm rounded-0" rows="15"></textarea>
						</div>
					</div>
				</div>
				<div class="row" title="Artículos / productos utilizados">
					<div class="col">
						<div class="form-group d-flex">
							<button id="" class="btn btn-outline-dark w-25" type="button" onclick="modalArticulos()">Ingresar artcíulos</button>
							<!--p id="idPCantArticulos" class="m-2">0 Artículos</p-->
						</div>
					</div>
				</div>
				<form method="post" action="" id="formConfirmFileHistory">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<input type="file" class="form-control-file" id="idInputFileResult" name="nameInputFile[]" value="">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between" >
					<button class="btn btn-danger shadow-sm" type="button" data-dismiss="modal">Cerrar</button>
					<button id="buttonConfirmHistoriaClinica" class="btn btn-success shadow-sm" value="Subir" type="submit" onclick="">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>