<div class="modal fade" id="modalView" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div id="modalViewDialog" class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title" id="titleModalView">Observaciones</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-1" id="divButtonLeftModalView" style="align-self: center;">
					</div>



					<div class="col" >

						<div class="d-flex flex-row-reverse">
							<p id="dateModalView"></p>
						</div>
						<div id="divDetailsTableModalView" hidden disabled>
							<table class="table-hover table-bordered" style="width:100%">
								<thead class="">
									<tr>
										<td class="text-center" scope="col" hidden disabled>Peso (Kg)</td>
										<td class="text-center" title="Temperatura" scope="col">Temp.</td>
										<td class="text-center" title="" scope="col">FC.</td>
										<td class="text-center" title="" scope="col">FR.</td>
										<td class="text-center" title="" scope="col">TLLC. (seg.)</td>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<hr>
						</div>
						<p id="textModalView"></p>
						<div id="divFilesTableModalView" class="tableCustomScroll" hidden disabled>
							<table class="table table-sm ">
								<thead class="bg-mycolor">
									<tr>
										<td class="text-center" scope="col" style="width:80%">Archivo</td>
										<td class="text-center" scope="col">Descargar</td>
										<td class="text-center" scope="col" id="thSendFilesTableModalView" hidden disabled>Enviar</td>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>


					</div>


					<div class="col-1" id="divButtonRightModalView" style="align-self: center;">
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success shadow-sm" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>