<div class="modal fade" id="modalArticulos" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-historia-clinica modal-dialog-centered" style="width: 70%;" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title">Ingresar artículos</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<input type="text" list="datalistModalArticulo" name="" class="form-control form-control-sm w-100" id="idlistArticulos" onkeyup="searchArticulos( this.value )" onchange="addArticulo(this.value)" placeholder="Buscar artículo">
			        <datalist id="datalistModalArticulo"></datalist>
				</div>
				<div class="my-3">
					<h6>Artículos seleccionados</h6>
					<div class="tableCustomScroll" style="max-height: 50vh; min-height: 50vh;">
						<table class="table table-sm">
							<thead class="bg-white">
								<tr>
									<th class="col-9">Descripción</th>
									<th class="col-2">Cantidad</th>
									<th class="col-1"></th>
								</tr>
							</thead>
							<tbody id="tbodyArticulos"></tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-between align-end" >
					<button class="btn btn-danger shadow-sm" type="button" data-dismiss="modal">Cerrar</button>
					<button id="buttonConfirmModalArticulo" class="btn btn-success shadow-sm" >Guardar</button>
				</div>
			</div>
		</div>
	</div>
</div>