<div class="modal fade" id="modalSaldo" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-historia-clinica modal-dialog-centered" style="width: 70%;" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title">Saldo</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<div class="tableCustomScroll" style="max-height: 75vh; min-height: 75vh;">
						<table class="table table-sm">
							<thead class="bg-white">
								<tr>
									<th class="col-2">Fecha</th>
									<th class="col-6">Comprobante</th>
									<th class="col-2">Importe</th>
									<th class="col-2">Saldo</th>
								</tr>
							</thead>
							<tbody id="tbodySaldo"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>