<div class="modal fade" id="modalInfoArticulos" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-historia-clinica modal-dialog-centered" style="width: 70%;" role="document">
		<div class="modal-content">
			<div class="modal-header bg-mycolor" >
				<span class="modal-title">Artículos</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					<div class="tableCustomScroll" style="max-height: 50vh; min-height: 50vh;">
						<table class="table table-sm">
							<thead class="bg-white">
								<tr>
									<th class="col-3">Fecha</th>
									<th class="col-6">Descripción</th>
									<th class="col-3">Comprobante</th>
								</tr>
							</thead>
							<tbody id="tbodyInfoArticulos"></tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer d-flex align-end" >
					<button class="btn btn-danger shadow-sm" type="button" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>