{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card border-top-0 rounded-bottom border w-50 shadow">
		<div class="card-header d-flex justify-content-between bg-mycolor">
			<h5 class="card-title mt-2">Agregar socio</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-3">
					<div class="form-group">
						<label for="inputCedulaSocio">Cédula</label>
						<input type="number" class="form-control text-center shadow-sm" id="inputCedulaSocio" onkeypress="return keyEnterPress(event, this.value, 9)">
						<small id="emailHelp" class="form-text text-muted">Obligatoria</small>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputNombreSocio">Nombre</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputNombreSocio" onkeypress="return keyEnterPress(event, this.value, 50)">
						<small id="emailHelp" class="form-text text-muted">Obligatorio</small>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-3">
					<div class="form-group">
						<label for="inputDireccionSocio">Teléfono</label>
						<input type="number" class="form-control text-center shadow-sm" id="inputTelefonoSocio" onkeypress="return keyEnterPress(event, this.value, 9)">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputDireccionSocio">Dirección</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputDireccionSocio" onkeypress="return keyEnterPress(event, this.value, 100)">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<div class="form-group">
						<label for="selectTipoSocio">Tipo socio</label>
						<select class="form-select form-control shadow-sm" id="selectTipoSocio" onkeypress="return keyEnterPress(event, null, null)">
							<option value="0">No socio</option>
							<option selected value="1">Socio</option>
							<option value="2">ONG</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputDireccionSocio">Email</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputEmailSocio" onkeypress="return keyEnterPress(event, this.value, 50)">
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-3">
					<div class="form-group">
						<label for="inputDireccionSocio">Fecha de pago</label>
						<input type="number" class="form-control text-center shadow-sm" id="inputFechaPagoSocio" onkeypress="return keyEnterPress(event, this.value, 2)">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="inputDireccionSocio">Fecha ingreso</label>
						<input type="date" class="form-control text-center shadow-sm" id="inputFechaIngresoSocio" onkeypress="return keyEnterPress(event, null, null)">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label for="selectTipoSocio">Lugar de pago</label>
						<select class="form-select form-control shadow-sm" id="selectTipoSocio" onkeypress="return keyEnterPress(event, null, null)">
							<option selected value="0">Veterinaria</option>
							<option value="1">Cobrador</option>
						</select>
					</div>
				</div>
			</div>
			<h6 class="card-subtitle mt-4 text-muted">Información adicional</h6>
			<div class="row mt-2">
				<div class="col-4">
					<div class="form-group">
						<label for="inputDireccionSocio">RUT</label>
						<input type="number" class="form-control text-center shadow-sm" id="inputRutSocio" onkeypress="return keyEnterPress(event, this.value, 12)">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="inputDireccionSocio">Telefax</label>
						<input type="text" class="form-control text-center shadow-sm" id="inputTelefaxSocio" onkeypress="return keyEnterPress(event, this.value, 100)">
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<button id="btnConfirm" onclick="insertarNuevoSocio()" class="btn btn-success shadow-sm" onkeypress="return keyEnterPress(event, null, null)">Confirmar</button>
			</div>
		</div>
	</div>
</div>
<div id="modalResultNewSocio" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<span class="modal-title">Socio agregado</span>
				<button type="button" class="close" data-dismiss="modal" accesskey="x" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">El socio fue agregado correctamente.</p>
				<p class="text-center">¿Desea asignarle su primer mascota?</p>
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-danger shadow-sm">Cancelar</button>
				<button id="modalButtonNewSocio" type="button" class="btn btn-success shadow-sm">Agregar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/newSocio.js"></script>
{% endblock %}
{% endblock %}