{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="row">
		<div class="col">
			<div id="containerNuevoSocio" class="card">
				<h5 class="card-header" style="background: #85B58A">Vacunas vencidas hasta el {{ fechaVencimiento }}</h5>
				<div class="card-body">
					<table class="table table-striped table-bordered">
						<thead class="thead-dark">
							<tr>
								<th class="text-center" scope="col">Fecha vencimiento</th>
								<th class="text-center" scope="col">Mascota</th>
								<th class="text-center" scope="col">Dueño</th>
								<th class="text-center" scope="col">Teléfono</th>
								<th class="text-center" scope="col">Email</th>
							</tr>
						</thead>
						<tbody id="tbodyVencimientosVacuna">

						</tbody>
					</table>
					<div id="noHayResultadosMensaje" style="display: none" class="alert alert-info text-center" role="alert">
						<h3>No hay resultado</h3>
						No se encontraron resultados para esta busqueda.
					</div>
					<div class="d-flex justify-content-between">
						<button id="irAtrasPagina" class="btn btn-sm btn-info" onclick="paginaAnteriorVencimientoVacunas()">Atras</button>
						<button id="irAdelantePagina" class="btn btn-sm btn-info" onclick="paginaPosteriorVencimientoVacunas()">Adelante</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalNotificacion" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<input type="text" id="idSocioVencimiento" style="display: none;">
			<input type="text" id="idMascotaVencimiento" style="display: none;">
			<div class="modal-header alert-success" >
				<h5 class="modal-title" id="exampleModalLongTitle">Notificar vencimientos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>¿Desea enviar una notificación con las vacunas pendientes de la mascota de este socio?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
				<button class="btn btn-success" id="btnNuevaMascota" onclick="notificarVencimientosVacuna()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/vencimientos.js"></script>
<script type="text/javascript">
	cargarTablaVencimientoVacunas();
</script>
{% endblock %}
{% endblock %}